<div class="card mt-5 mx-auto row">
  <form
    class="my-auto"
    #s="ngForm"
    [formGroup]="form"
    (ngSubmit)="onSubmitRegister()"
  >
    <h3 class="text-center pb-2">Registracija</h3>
    <div class="text-center">
      <div class="input mx-auto">
        <input
          formControlName="ime"
          type="text"
          class="input-field"
          [ngClass]="{ 'is-invalid': submitted && f.ime.errors }"
          required
        />
        <label class="input-label">Ime</label>
      </div>
      <div *ngIf="submitted && f.ime.errors">
        <div style="color: red" *ngIf="f.ime.errors.required">
          Ime je obavezno
        </div>
      </div>
      <div class="input mx-auto">
        <input
          [ngClass]="{ 'is-invalid': submitted && f.prezime.errors }"
          formControlName="prezime"
          type="text"
          class="input-field"
          required
        />
        <label class="input-label">Prezime</label>
      </div>
      <div *ngIf="submitted && f.prezime.errors">
        <div style="color: red" *ngIf="f.prezime.errors.required">
          Prezime je obavezno
        </div>
      </div>

      <div class="input mx-auto">
        <input
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          formControlName="email"
          type="text"
          class="input-field"
          required
        />
        <label class="input-label">Email</label>
      </div>
      <div *ngIf="submitted && f.email.errors">
        <div style="color: red" *ngIf="f.email.errors.required">
          Email je obavezan
        </div>
        <div style="color: red" *ngIf="f.email.errors.email">
          Email nije ispravan
        </div>
      </div>
      <div class="input mx-auto">
        <input
          formControlName="lozinka"
          type="password"
          class="input-field"
          required
        />
        <label class="input-label">Lozinka</label>
      </div>
      <div *ngIf="submitted && f.lozinka.errors">
        <div style="color: red" *ngIf="f.lozinka.errors.required">
          Lozinka je obavezna
        </div>
        <div style="color: red" *ngIf="f.lozinka.errors.minlength">
          Lozinka mora sadržavati barem 6 znakova
        </div>
      </div>
      <br />
    </div>
    <div class="text-center">
      <button
        type="submit"
        style="max-width: 200px"
        class="myButton mt-5 mx-auto mb-3 text-center"
      >
        Registriraj se
      </button>
    </div>
  </form>
</div>
