.navbar-collapse {
  font-size: 25px;
}

.nav-link {
  color: white !important;
}

.navbar {
  max-width: 1800px;
  border-radius: 8px;
  background-color: #03a9f4 !important;
  fill: rgba(196, 196, 196, 1);
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.788));
  overflow: visible;
}

.naslov {
  font-size: 45px;
}
