<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
  <div class="container-fluid">
    <h2 class="mt-2">GT-NET: Gradski telekom</h2>
    <div class="text-center"></div>

    <button
      class="navbar-toggler mx-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex mx-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-2 mx-2">
          nesto
        </ul>
        <ul class="navbar-nav mt-2 mx-2">
          nesto
        </ul>
        <ul class="navbar-nav mt-2 mx-2">
          nesto
        </ul>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
